---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { Image } from "@astrojs/image/components";
import labMap from "../assets/map-final.jpg";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="flex flex-col h-screen">
		<Header title={SITE_TITLE} />
		<main class="pl-10 pr-10">
			<div class="m-32 mt-5 mb-5">
				<h1 class="text-xl font-bold">📍Daresbury Heatmap</h1>
				<p>
					Welcome to the official <a href="https://astro.build/">Astro</a> blog starter
					template. This template serves as a lightweight, minimally-styled starting
					point for anyone looking to build a personal website, blog, or portfolio
					with Astro.
				</p>
			</div>
			<div class="flex gap-4 m-auto">
				<Image
					src={labMap}
					alt="A cartoon map of Daresbury Lab"
					class="w-4/6"
				/>
				<!-- Side bar with options -->
				<div class="h-4/6 w-60 border-black">
					<h1 class="text-lg font-bold">Controls</h1>
					<form></form>
				</div>
			</div>
		</main>
		<Footer />
	</body>
</html>
